<mat-sidenav-container class="nav-bar-container">
  <mat-sidenav #sidenav mode="side" class="side-nav-container" [opened]="isSidebarOpen">
    <ul class="nav-list-container">
      <li>
        <a mat-button routerLink="/home" routerLinkActive="active" class="nav-link">
          <img src="assets/icons/home.png" alt="home" class="icon">Home
        </a>
      </li>
      <li>
        <a mat-button routerLink="/tournament" routerLinkActive="active" class="nav-link">
          <img src="assets/icons/tournament.png" alt="tournament" class="icon">Tournament
        </a>
      </li>
      <li>
        <a mat-button routerLink="/about" routerLinkActive="active" class="nav-link">
          <img src="assets/icons/info.png" alt="info" class="icon">About
        </a>
      </li>
      <li>
        <a mat-button routerLink="/contact" routerLinkActive="active" class="nav-link">
          <img src="assets/icons/contact.png" alt="contact" class="icon">Contact
        </a>
      </li>
    </ul>
  </mat-sidenav>

  <button mat-icon-button class="collapse-button" (click)="toggleSidebar()">
    <mat-icon>{{ isSidebarOpen ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
  </button>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
